DISABLE_BOX_HEATER
M141 S0
M140 S0
BUFFER_MONITORING ENABLE=0
DISABLE_ALL_SENSOR
G1 E-3 F1800

# UNLOAD_FILAMENT T=[current_extruder]
SAFE_Z_LIFT Z=50

# изменил координату на 88 мм по оси X, соответствующую позиции мусорки
G0 Y270 F12000 
G0 X88 Y270 F12000

M104 S0
PRINT_END