
# безопасное перемещение по оси Z на заданное расстояние (по умолчанию 50 мм) 
[gcode_macro SAFE_Z_LIFT]
gcode:
    {% set z = params.Z|default(50)|int %}
    {% if "z" in printer.toolhead.homed_axes and (printer.gcode_move.position.z + z) < printer['gcode_macro PRINTER_PARAM'].max_z_position %}
        G91
        G1 Z{z} F600
        G90
    {% else %}
        G1 Z{printer['gcode_macro PRINTER_PARAM'].max_z_position} F600
    {% endif %}